<body>

<div class="fondo" (click)="goToLogin()">
    <div class="logo">
        <p class="tres"><span class="uno">Pyro</span><span class="dos">Control</span><span class="espacio">&nbsp;</span> Center</p> 
        <p class="cuatro">inspiring changes</p>
    </div>

     <!-- <div class="iconitos">
        <img  class="ico" src="../../../../assets/imagenes/cerillo.png" alt="">
        <img  class="ico" src="../../../../assets/imagenes/expolsion.png" alt="">
        <img class="ico" src="../../../../assets/imagenes/fuego.png" alt="">

    </div>  -->

    <div class="iconitos">
        <img  class="ico" src="../../../../assets/imagenes/cerillow.png" alt="">
        <img  class="ico" src="../../../../assets/imagenes/explosionw.png" alt="">
        <img class="ico" src="../../../../assets/imagenes/fuegow.png" alt="">

    </div> 

</div>
    <script src="../script.js"></script>
</body>