<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body id="body1">
<div class="contenedor">
  <br>
  <a style="text-align: end; padding-right: 50px;" class="navbar-brand mx-auto d-block Seg-pedidos ">
    <span class="tipo1 color1 tam1">Pyro</span><span class="tipo2 color1 tam1">Control</span><span class="color1 tam1">Center</span><br>
    <span class="tipo3 insp tam2">inspiring changes</span><br><br>
</a>

</div>
            <body id="body2">
                <div class="container2">
                    <div class="table_header">
                      <h1></h1>
                      <h2></h2>
                    </div>
                    <table>
                      <thead>
                        <tr>
                            <th>Datos de Cliente</th>
                        </tr>
                      </thead>
                      <tbody>
                            <div class="tabla">
                                <ul>
                                  <br>
                                  <li>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-file-earmark-person"></i> &nbsp; Cliente: Siomara Saenz </p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-box-seam"></i> &nbsp;Lote Number: 0001</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px; ">
                                      <p><i class="bi bi-sort-numeric-up"></i>&nbsp;Quantity: 20</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 30px;">
                                      <p><i class="bi bi-file-earmark-person-fill"></i>&nbsp;Model: JTEK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 60px;">
                                      <p><i class="bi bi-square"></i>&nbsp;TEK: 23</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 15px;">
                                      <p><i class="bi bi-box2-fill"></i>&nbsp;Shruds: RP</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px;">
                                      <p><i class="bi bi-inboxes-fill"></i>&nbsp;Wrap: S</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 46px;">
                                      <p><i class="bi bi-palette"></i>&nbsp;Color: PINK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 42px;">
                                      <p><i class="bi bi-stack"></i>&nbsp;Tail: PS</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px;">
                                      <p><i class="bi bi-three-dots-vertical"></i>&nbsp;Details:  None</p>
                                    </div>
                                    <hr> 
                                  </li>
                                  <br>
                                  <li>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-file-earmark-person"></i> &nbsp; Cliente: Cesar Reyes</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-box-seam"></i> &nbsp;Lote Number: 0002</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px; ">
                                      <p><i class="bi bi-sort-numeric-up"></i>&nbsp;Quantity: 10</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 30px;">
                                      <p><i class="bi bi-file-earmark-person-fill"></i>&nbsp;Model: G-TEK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 60px;">
                                      <p><i class="bi bi-square"></i>&nbsp;TEK: 25</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 15px;">
                                      <p><i class="bi bi-box2-fill"></i>&nbsp;Shruds: STI</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px;">
                                      <p><i class="bi bi-inboxes-fill"></i>&nbsp;Wrap: FH</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 46px;">
                                      <p><i class="bi bi-palette"></i>&nbsp;Color: RED</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 42px;">
                                      <p><i class="bi bi-stack"></i>&nbsp;Tail: TW</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px;">
                                      <p><i class="bi bi-three-dots-vertical"></i>&nbsp;Details:  Fast please</p>
                                    </div>
                                    <hr> 
                                  </li>
                                  <br>
                                  <li>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-file-earmark-person"></i> &nbsp; Cliente: Giselle Vargas </p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-box-seam"></i> &nbsp;Lote Number: 0003</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px; ">
                                      <p><i class="bi bi-sort-numeric-up"></i>&nbsp;Quantity: 70</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 30px;">
                                      <p><i class="bi bi-file-earmark-person-fill"></i>&nbsp;Model: JTEK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 60px;">
                                      <p><i class="bi bi-square"></i>&nbsp;TEK: 1</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 15px;">
                                      <p><i class="bi bi-box2-fill"></i>&nbsp;Shruds: RP</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px;">
                                      <p><i class="bi bi-inboxes-fill"></i>&nbsp;Wrap: S</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 46px;">
                                      <p><i class="bi bi-palette"></i>&nbsp;Color: GR</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 42px;">
                                      <p><i class="bi bi-stack"></i>&nbsp;Tail: PS</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px;">
                                      <p><i class="bi bi-three-dots-vertical"></i>&nbsp;Details:  None</p>
                                    </div>
                                    <hr> 
                                  </li>
                                  <br>
                                  <li>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-file-earmark-person"></i> &nbsp; Cliente: Juan Carlos Morales </p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-box-seam"></i> &nbsp;Lote Number: 0004</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px; ">
                                      <p><i class="bi bi-sort-numeric-up"></i>&nbsp;Quantity: 20</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 30px;">
                                      <p><i class="bi bi-file-earmark-person-fill"></i>&nbsp;Model: JTEK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 60px;">
                                      <p><i class="bi bi-square"></i>&nbsp;TEK: 23</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 15px;">
                                      <p><i class="bi bi-box2-fill"></i>&nbsp;Shruds: RP</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px;">
                                      <p><i class="bi bi-inboxes-fill"></i>&nbsp;Wrap: S</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 46px;">
                                      <p><i class="bi bi-palette"></i>&nbsp;Color: WHITE</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 42px;">
                                      <p><i class="bi bi-stack"></i>&nbsp;Tail: PS</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px;">
                                      <p><i class="bi bi-three-dots-vertical"></i>&nbsp;Details:  None</p>
                                    </div>
                                    <hr> 
                                  </li>
                                  <br>
                                  <li>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-file-earmark-person"></i> &nbsp; Cliente: Fabian Medina </p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px; ">
                                      <p><i class="bi bi-box-seam"></i> &nbsp;Lote Number: 0005</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px; ">
                                      <p><i class="bi bi-sort-numeric-up"></i>&nbsp;Quantity: 20</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 30px;">
                                      <p><i class="bi bi-file-earmark-person-fill"></i>&nbsp;Model: JTEK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 60px;">
                                      <p><i class="bi bi-square"></i>&nbsp;TEK: 23</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 15px;">
                                      <p><i class="bi bi-box2-fill"></i>&nbsp;Shruds: RP</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 40px;">
                                      <p><i class="bi bi-inboxes-fill"></i>&nbsp;Wrap: S</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 46px;">
                                      <p><i class="bi bi-palette"></i>&nbsp;Color: PINK</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 42px;">
                                      <p><i class="bi bi-stack"></i>&nbsp;Tail: PS</p>
                                    </div>
                                    <div style="text-align: center; padding-right: 20px;">
                                      <p><i class="bi bi-three-dots-vertical"></i>&nbsp;Details:  None</p>
                                    </div>
                                    <hr> 
                                  </li>
                            </ul>

                          <tr>

                          </tr>
                          </div>
                        
                        
                      </tbody>
                    </table>
                    <div class="table_footer">
                        <br>
                    </div>
                  </div>
            
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
               
            </body>
            <br><br>
            <span style="padding-left: 90%;">&nbsp;</span><button [routerLink]="['/modo']" class="button2">Regresar</button>
            <br><br>
</body>
</html>