<div class="dashboard-container">
  <div class="module-card inventory-module">
    <div class="module-icon">
      <img src="../../../assets/imagenes/almacenw.png" alt="Inventario">
    </div>
    <h2 class="module-title">Inventario</h2>
    <div class="module-divider"></div>
    <ul class="module-options">
      <li [routerLink]="['/gest-prod']">Gestionar Inventario</li>
      <li [routerLink]="['/gest-mat']">Consultar Inventario</li>
      <li [routerLink]="['/gest-prove']">Gestión de Proveedores</li>
    </ul>
    <div class="module-divider"></div>
    <a [routerLink]="['/gest-prod']" class="module-button">
      Ir a almacén <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>

  <div class="module-card sales-module">
    <div class="module-icon">
      <img src="../../../assets/imagenes/ventaw.png" alt="Ventas">
    </div>
    <h2 class="module-title">Ventas</h2>
    <div class="module-divider"></div>
    <ul class="module-options">
      <li [routerLink]="['/order']">Registrar Nota de Venta</li>
      <li [routerLink]="['/client-mgmt']">Gestionar clientes</li>
      <li [routerLink]="['/client/:orderId']">Seguir Pedido</li>
    </ul>
    <div class="module-divider"></div>
    <a [routerLink]="['/order']" class="module-button">
      Ir a ventas <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
</div>