
<body>

         <div class="userr">
         <img src="../../../../assets/imagenes/user2.png" alt="" height="140px">
         </div>

         <div class="titulo">
            <h1 class="name">Usuario</h1>
         </div>

 


         <div class="bod">
            <div class="box">
               <input type="password" placeholder="Contraseña">
               <a class="Reg-cred" [routerLink]="['/modo']" routerLinkActive="router-link-active" >
                  <i class="fa-solid fa-arrow-right fa-lg"></i> 
               </a>
            </div>
         </div>
</body>

